<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<!-- Start -->

<body>
    <div class=container>

        <div class="row">
            <div class="col-md-12">
                <h1>Liberty Mutual Blog Application</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="top-spacer"> </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12"><a href="/posts">
                    <h3>LM Blogs</h3>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10 col-sm-9">
                    <ul>
                        <% for(var i=0; i<list.length; i++){ %>
                        <li>
                            <a href="/posts/<%=i+1%>">
                                <p>Welcome <%=list[i].title%><p>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>

</body>

<footer>
    <div class="container">
        <div class="col-sm-6">
            <h6><a href="https://www.libertymutual.com/">(C) 2020 Liberty Mutual Insurance</a></h6>
        </div>
    </div>
</footer>
<!-- End -->

<!-- jquery has to be the first one otherwise it complains -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>